build/
.vscode/
.vs/
.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
graphs/germany.osm.graph
graphs/great-britain.osm.graph
graphs/italy.osm.graph
graphs/netherlands.osm.graph
graphs/ldoor.graph
graphs/coAuthorsDBLP.graph
graphs/audikw1.graph
graphs/coAuthorsCiteseer.graph
graphs/delaunay_n20.graph
graphs/delaunay_n23.graph
graphs/hugetric-00000.graph
graphs/rgg_n_2_20_s0.graph
graphs/nlpkkt120.graph
graphs/nlpkkt160.graph
graphs/*
tests/PerformanceData/*
tests/Verification/*
documentation/