<aimGraph>
	<global>
		<deviceID>0</deviceID>
		<devicememsize>1.75</devicememsize>
	</global>
	<testrun>
		<configuration>
			<rounds>10</rounds>
			<updaterounds>10</updaterounds>
      <pagesize>64</pagesize>
			<initlaunchblocksize>32</initlaunchblocksize>
			<insertlaunchblocksize>256</insertlaunchblocksize>
			<deletelaunchblocksize>256</deletelaunchblocksize>
			<verification>false</verification>
		</configuration>
		<graphs>
			<filename>../graphs/audikw1.graph</filename>
			<filename>../graphs/ldoor.graph</filename>
			<filename>../graphs/luxembourg.osm.graph</filename>
		</graphs>
		<batches>
			<batchsize>10000</batchsize>
			<batchsize>100000</batchsize>
			<batchsize>1000000</batchsize>
		</batches>
	</testrun>
	<testrun>
		<configuration>
			<rounds>9</rounds>
			<updaterounds>10</updaterounds>
      <pagesize>64</pagesize>
			<initlaunchblocksize>32</initlaunchblocksize>
			<insertlaunchblocksize>256</insertlaunchblocksize>
			<deletelaunchblocksize>256</deletelaunchblocksize>
			<verification>false</verification>
		</configuration>
		<graphs>
			<filename>../graphs/audikw1.graph</filename>
		</graphs>
		<batches>
			<batchsize>10000</batchsize>
			<batchsize>100000</batchsize>
			<batchsize>1000000</batchsize>
		</batches>
	</testrun>
	<testrun>
		<configuration>
			<rounds>8</rounds>
			<updaterounds>10</updaterounds>
      <pagesize>64</pagesize>
			<initlaunchblocksize>32</initlaunchblocksize>
			<insertlaunchblocksize>256</insertlaunchblocksize>
			<deletelaunchblocksize>256</deletelaunchblocksize>
			<verification>false</verification>
		</configuration>
		<graphs>
			<filename>../graphs/audikw1.graph</filename>
		</graphs>
		<batches>
			<batchsize>10000</batchsize>
			<batchsize>100000</batchsize>
			<batchsize>1000000</batchsize>
		</batches>
	</testrun>
</aimGraph>